/*General CSS*/

/** General settings **/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

.brand-color{background-color: #ffd800 !important; border-color: #f5d107 !important;}
.brand-green{background-color: #0bc413 !important; border-bottom-color: #0cbf14 !important; color: #ffffff}
h2 span, h1 span, h3 span, h4 span, h5 span{color: #f4ba2f !important;}

h1, .h1, h2, .h2, h3, .h3{font-family: 'Roboto', sans-serif; font-weight: 400; letter-spacing: 0.2em}
p{font-size: 1.2em; font-weight: 300}
.property-thumbnail p, .home-page-blog-news-block p,
#three-contacts p{font-size: 1em;}

a{font-family: 'Roboto', sans-serif; font-weight: 300; cursor: pointer}
.brand-green.btn:hover{color: #e4e4e4}
hr{border: none}

html, body {
  margin:0; padding:0;
  background: #ffffff;
  height:100%; /* needed for container min-height */
  font-family: 'Roboto', sans-serif;
}
html, .regions-list-block > li { -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit;}

.container-fluid{padding: 0}

.owl-controls{margin-top: 10px;text-align: center;-webkit-tap-highlight-color: transparent; color: #222}
.owl-dots .owl-dot{display: inline-block;zoom: 1;}
.owl-carousel .owl-controls .owl-dot{cursor: pointer;
  height: 10px; width: 10px; border: 1px solid #222; border-radius: 50%; margin: 0 2px;
  -webkit-user-select: none; -khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.owl-carousel .owl-controls .owl-dot.active{background-color: #222}

.flash-text{padding: 50px 10px; font-size: 2em}

#pagination-section{margin-bottom: 20px}
#pagination-block{background-color: #f8f8f8}
.pagination{border-radius: 0}
.pagination li.active a{background: #ccc;border-color: #ccc}

.overflow-image-block {position: relative;overflow: hidden; height: 230px;}
.owl-carousel .overflow-image-block{border: 1px solid #ddd;}
.overflow-image-block img{width: 100%}
.overflow-image {position: absolute;left: -9999px;right: -9999px;margin: auto;}

.ci{display: inline-block}
.ci, #header-search-box-container .bootstrap-select.btn-group .dropdown-toggle .caret,
.header-checkbox-block input[type="checkbox"],
.owl-nav > div{background: url("../img/icons/icons.png") no-repeat}

#favorite-content{font-size: 1.5em;} .social-name{padding-left: 13px;color: green;}

#slideshow{margin-right: 20px}
#logo-slider li{list-style: none;}
#logo-slider li img{height: 155px; width: 160px;}
#logo-slider li:nth-child(2){padding-bottom: 10px}
#logo-slider li:nth-child(1), #logo-slider li:nth-child(3){float: left;padding: 0 10px 10px 0;}

.banner{background: #dbdbdb}
#header-banner-block{width: 728px; height: 90px;}
.google-square-banner{width: 336px;height: 280px; position: relative; margin: 0 auto}
.google-long-middle-banner{width: 728px; height: 90px; position: relative; margin: 0 auto}

.section-separator{height: 2px; background-color: #f4ba2f}
.section-secondary-separator{height: 1px; background-color: #d1d1d1}

.justified {position:absolute;left:50%;}
.margin-top-0{margin-top: 0 !important;}.margin-left-0{margin-top: 0 !important;}.margin-top-20{margin-top: 20px !important;}
.margin-top-40{margin-top: 40px !important;}
.padding-left-10{padding-left: 10px}.padding-left-15{padding-left: 15px}
.uppercase{text-transform: uppercase !important;}
.read-more{padding-left: 10px; color: #0bc413} .read-more:after{content: "\2192"; padding-left: 0.4em}
.btn-read-more{padding: 10px 30px}

header, footer, section {display: block;}

a{transition: background-color 0.5s ease;}
a:link, a:visited, a:hover, a:active{text-decoration: none}
a > .property-thumbnail{color: #fff}

/*Owl Carousel*/
.owl-nav .owl-prev, .owl-nav .owl-next{height: 40px; width: 40px; position: absolute;}
.owl-nav .owl-prev{background-position: -258px -9px; bottom: 42%; left: -45px;}
.owl-nav .owl-next{background-position: -378px -9px; bottom: 42%; right: -45px;}

/*.element {
	background-image:url('../img/all_icons.png');
	background-repeat:no-repeat;
}
*/

#container{
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
  min-height:100%; /* real browsers */
}

.alert{position: absolute;z-index: 300;width: 100%;border-radius: 0;top: 0;font-size: 1.4em}


/*Ribon Text*/
.ribbon {position: absolute;right: -5px; top: -5px;z-index: 1;overflow: hidden;width: 75px; height: 75px;text-align: right;}
.ribbon span {font-size: 10px;font-weight: bold;color: #FFF;text-transform: uppercase;
  text-align: center;line-height: 20px;transform: rotate(45deg);-webkit-transform: rotate(45deg);
  width: 100px;display: block;background: #e63434;background: linear-gradient(#e63434 0%, #f34a47 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);position: absolute;top: 19px; right: -21px;}
.ribbon span::before {content: "";position: absolute; left: 0px; top: 100%;z-index: -1;
  border-left: 3px solid #e63434;border-right: 3px solid transparent;border-bottom: 3px solid transparent;
  border-top: 3px solid #e63434;}
.ribbon span::after {content: "";position: absolute; right: 0px; top: 100%;z-index: -1;e63434: 3px solid transparent;
  border-right: 3px solid #e63434;border-bottom: 3px solid transparent;border-top: 3px solid #E30088;}



#filter-box{padding: 37px 0 0;}
#filter-box .btn-sort{color: #002586; font-size: 1.2em;font-weight: 700;display: block;
  height: 35px; line-height: 35px}
.dropdown-check-list{display: inline-block;width: 100%;}

.dropdown-check-list:focus{outline:0; }

.dropdown-check-list .anchor {
  width: 98%;position: relative;cursor: pointer;display: inline-block;padding-top:5px;
  padding-left:5px;padding-bottom:5px;border:1px #ccc solid;}

.dropdown-check-list .anchor:after {
  position: absolute;content: ""; border-left: 2px solid black;border-top: 2px solid black;
  padding: 5px;right: 10px;top: 20%;-moz-transform: rotate(-135deg);-ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);-webkit-transform: rotate(-135deg);transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {right: 8px;top: 21%;}
.dropdown-check-list ul.items {
  padding: 2px;display: none;margin: 0;border: 1px solid #ccc;border-top: none;}
.dropdown-check-list ul.items > li > span {border-bottom: 1px solid; font-size: 1.2em}
.dropdown-check-list ul.items li {list-style: none;}
.dropdown-check-list.visible .anchor {color: #0094ff;}
.dropdown-check-list.visible .items {display: block; position: absolute;z-index: 2000;
  background: #222;color: #fff;padding: 8px 20px;width: 87%; max-height: 300px;overflow: scroll;}

/*** custom checkboxes ***/
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {font-family: FontAwesome;display: inline-block;}
input[type=checkbox] + label:before {content: "\f096";} /* unchecked icon */
input[type=checkbox] + label:before {letter-spacing: 10px;} /* space between checkbox and label */
input[type=checkbox]:checked + label:before {content: "\f046";} /* checked icon */
input[type=checkbox]:checked + label:before {letter-spacing: 5px;} /* allow space for check mark */

.container, .bootstrap-select button .carret{width: 90%; max-width: 1400px}
.full-width{width: 100%;}
.page-header{text-transform: uppercase; font-weight: 400; font-size: 2em;border: none;}

/*** Header ***/
.header{position: absolute; min-height: 150px; padding-top: 20px; z-index: 20; left: 0; right: 0; margin-left: auto; margin-right: auto}
.main-logo-block{text-align: right} .main-logo{width: 70%;padding-top: 30px;}
.main-logo-block a{position: relative;z-index: 1200;}
#header-navigation-block{border-top: 1px solid #fff; margin-top: 10px}
.navbar-default{background: none !important; border: none !important} .navbar-default .navbar-nav>li>a{color: #fff !important;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: #ffd800 !important; background:none !important}
#header-navigation-block .container, .navbar-default .navbar-collapse{padding: 0; margin-left: 0}
#header-navigation-block .dropdown-menu{z-index: 3000; background: rgba(0,0,0,0.8);}
#header-navigation-block .dropdown-menu a:hover{background: rgba(0,0,0,1);}
#header-navigation-block .dropdown-menu a{color: #fff}
#header-navigation-block .nav>li>a{padding: 10px;text-transform: uppercase;}


/*** Content ***/
/*Home Page*/
#home{background: url(../img/slider/home.jpg) 50% 0 no-repeat fixed; min-height: 640px; position: relative}
#home-page-cover{position: absolute; background: rgba(0,0,0,0.4); width: 100%; height: 100%; position: absolute; top: 0; left: 0
-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;
  border: none;color: black;-o-text-overflow: ellipsis;
  text-overflow: ellipsis;background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,1) 100%);background: linear-gradient(0deg, rgba(0,0,0,0.4) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;-webkit-background-origin: padding-box;background-origin: padding-box;
  -webkit-background-clip: border-box;background-clip: border-box;-webkit-background-size: cover;background-size: cover;
}
.slogan{text-transform: uppercase; color: #ddd; letter-spacing: 0.1em; font-weight: 300; font-size: 2em; margin-bottom: 20px;}
.introduction-header{text-transform: uppercase; color: #fff; font-size: 48px; letter-spacing: 0.1em; margin-bottom: 100px; margin-top:5px; font-weight: bold; }
#home-page-header-container{width: 100%; bottom: 17%;position: absolute;}

.not-found-title{  font-size: 5em;padding: 40px 0;color: #ff0405;}


/*Search box*/
#header-search-box-container .form-control{height: 40px;}
#header-search-box-container .select-type, #header-search-box-container .search-property,
#header-search-box-container .search-button{padding: 0; z-index: 100}
#header-search-box-container .select-type .btn, #header-search-box-container .form-group .bootstrap-select,
#header-search-box-container .select-type .btn:focus{border-top-right-radius: 0; border-bottom-right-radius: 0; border: none; outline: none !important; background: #fff}
#header-search-box-container .search-property input{border-radius: 0; border: none}
#header-search-box-container .search-button button{border-top-left-radius: 0; border-bottom-left-radius: 0; width: 100%; text-transform: uppercase; height: 40px; margin-left: -2px}
#header-search-box-container .bootstrap-select button span.carret{background-position: -30px -40px; border: none}
#header-search-box-container .bootstrap-select.btn-group .dropdown-toggle .caret{
  background-position: -18px -4px;background-color: #f5f5f5;border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;display: inline-block;height: 40px;width: 30px;margin: 0;top: 0%; right: -2px; border-top: none}
.select2-container-multi .select2-choices{border: none; border-left: 1px solid #aaa; padding-top: 2px}
#header-search-box-container .dropdown-menu{position: relative;top: 0; border-radius: 0}
#header-search-box-container .dropdown-menu li {border-bottom: 1px solid #ddd;}
#header-search-box-container .dropdown-menu li:last-child{border: none}
#header-search-box-container .dropdown-menu li:nth-child(2){padding-top: 3px;padding-bottom: 3px}
#header-search-box-container .bootstrap-select.btn-group .dropdown-toggle .filter-option{padding-top: 5px}
#header-search-box-container .select2-container .select2-search--inline .select2-search__field{margin-top: 5px}
#header-search-box-container .select2-selection__rendered{letter-spacing: 0; overflow: hidden; z-index: -100;
  padding-right: 25px; height: 2.8em;}
#header-search-box-container .select2-container--krajee .select2-selection__clear{font-size: 23px; opacity: 1; margin-top: 3px}
.select2-container .select2-selection--multiple{border: none; border-radius: 0; height: 40px;}
#map-block-section .select2-container .select2-selection--multiple{height: auto}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding-top: 3px; padding-left: 10px; width: 100%}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border: none}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice{padding: 4px 6px;}
#map-block .input-group-md{width: 100%}

/*glyphicon glyphicon-check glyphicon glyphicon-unchecked*/
.header-checkbox-block{color: #fff; padding: 0 0 10px}
.header-checkbox-block > label {margin-left: 20px; font-weight: 300;font-size: 1.3em;letter-spacing: 0.1em;}


/*Map Block*/
#map-block-section{margin-bottom: 0}
.map-open-button-box-block{background: #fff; position: relative; bottom: 40px; height: 40px; line-height: 40px}
.map-open-button-box-block > p {text-transform: uppercase;}
.map-open-button-box-block > p > span.map-text{padding: 0 12px 5px; font-size: 1.4em; position: relative; bottom: 12px;left: 6px;}
.map-open-button-box-block > p > .ci-map{ height: 40px; width: 45px; background-position: -10px -50px}
.map-open-button-box-block > p > .ci-arrow-down{height: 40px; width: 45px;}
.map-open-button-box-block > p > .ci-arrow-down.closed{background-position: -50px -49px;}
.map-open-button-box-block > p > .ci-arrow-down.open{
  transform: rotate(180deg);-ms-transform: rotate(180deg); /* IE 9 */-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  background-position: -63px -54px; /*transition: transform 0.5s ease;*/}
#map-block{display: none; position: static} #open-map{cursor: pointer;}
#map-block .select2-container{min-width: 100%;}

.regions-list-block{padding-left: 0; list-style: none; margin-bottom: 30px;}
.regions-list-block > li {display: inline-block; border-bottom: 1px solid #d7d7d7; margin-left: -5px;}
.regions-list-block > li:hover, .regions-list-block > li.active{
  -moz-box-shadow: inset 0px -2px 0px #d9a72a;/*FF 3.5+*/
  -webkit-box-shadow: inset 0px -2px 0px #d9a72a;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: inset 0px -2px 0px #d9a72a;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#d9a72a); /*IE 5.5-7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#d9a72a)";/*IE 8*/
}
.regions-list-block > li > a{color: #868686; text-transform: uppercase; font-size: 1.3em;padding: 0 30px 10px 30px;display: block;}
.regions-list-block > li:hover > a,.regions-list-block > li.active > a{color: #343434; font-weight: 700}

#searching-map{min-height: 350px; width: 100%}
#map-block p{padding: 15px 0 5px; color: #343434; margin-bottom: 0;}
#map-block .select2-container, #map-block .suburbs-block,
.checkbox-block{border: 1px solid #d7d7d7; border-radius: 4px;}
#map-block .select2-container .select2-search--inline .select2-search__field{margin-top: 7px; width: 100% !important;}
#map-block .suburbs-block{height: 150px;overflow: scroll; padding: 5px 10px}
#map-block .suburbs-block .checkbox{margin: 5px 0;}
.map-open-button-box-container > div{padding: 0}
.checkbox-block{margin: 10px 0; padding: 10px 15px; background-color: #e1e1e1; width: 45%;}
.checkbox-block label{cursor: pointer; font-size: 1.2em; margin-bottom: 0}
.search-property-btn{width: 100%; padding: 13px;text-transform: uppercase; font-weight: 300; font-size: 1.1em; letter-spacing: 0.2em}
#map-block input[type=checkbox]:checked + label:before{color: #0bc413}

#featured-properties, #featured-properties h2.page-header{margin-top: 0;}

.property-thumbnail{border: none; border-radius: 0}
.property-image-details{height: 70px; background-color: rgba(0,0,0,0.7);  z-index: 200;
  position: absolute;bottom: 0;width: 100%;}
.property-image-details{padding: 5px 0;}
.property-image-details p{margin: 0;}
.property-image-details, .image-overlay {color: #fff}
.property-thumbnail .agency-name{position: absolute;top:0; z-index: 100;width: 100%;min-height: 30px; line-height: 30px; overflow: hidden; font-size: 1.2em; font-weight: 400}
.property-thumbnail .contract-type{display: table; text-align: center; height: 70px; width: 100%} .property-thumbnail .contract-type > p{display: table-cell; vertical-align: middle;}
.property-features .ci{margin-right: 5px; height: 16px; width: 16px; display: inline-block}
.ci-residential{background-position: -100px -216px}
.ci-industrial{background-position: -61px -216px}
.ci-commercial{background-position: -20px -216px}

/*.overflow-image-block > .agency-name, .overflow-image-block > .property-image-details{display: none}*/

.image-overlay{color: #fff; height: 240px; display: table; bottom: 0;background-color: rgba(0,0,0,0.63);
  position: absolute; width: 100%; z-index: 200; opacity: 0; transition: opacity 800ms;}
.image-overlay:hover{opacity: 1;}
.image-overlay > div{display: table-cell; vertical-align: middle}
.image-overlay > div > *{width: 80%;position: relative;margin: 0 auto;}
.image-overlay .property-address{font-size: 1.6em;padding: 45px 0 0;font-weight: 300;line-height: 1.5em;}
.image-overlay p.property-features{padding: 10px 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; color: #aaa}
.image-overlay .contract-type{padding: 15px 0;font-size: 1.3em;font-weight: 300;letter-spacing: .2em;}

#agencies-logos {height: 420px}
#agencies-logos .thumbnail{padding: 0; border: none; border-radius: 0; padding: 0}

/*#agencies-logos div[class*="col-xs"]{padding: 0 10px 0 0}*/
#x-logos > div {height: 300px}
.big-logo{margin-left: 0}
#x-logos .thumbnail {position: relative}
#x-logos img{width: 90%}
/*#x-logos .thumbnail:first-child > a{position: absolute; top: 0;}*/
/*#x-logos .thumbnail:last-child > a{position: absolute; bottom: 0;}*/

#logo-slider li img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

#logo-slider li.selected img{
  filter: none;
  -webkit-filter: grayscale(0);
}


#home-page-blog-news div[class*="col-xs"]{padding: 0;}
.home-page-blog-news-block{border: 1px solid #d7d7d7;height: 218px;overflow: hidden;  margin-bottom: 20px; padding: 0}
#home-page-blog-news div[class*="col-sm"] img{width: 100%; height: 218px;}
#home-page-blog-news div[class*="col-xs"].content-description{padding: 15px; font-size: 1.2em; font-weight: 300}
#home-page-blog-news .content-text{color: #878787;}
#home-page-blog-news h5{margin: 10px 0 15px 0; color: #343434; font-size: 1.2em}

#home-page-blog-news .content-image{position: relative}
#home-page-blog-news .content-image .content-image-overlay{position: absolute; bottom: 0; right: 0;}
#home-page-blog-news .content-image .content-image-overlay dl{background-color: rgba(181,152,90,.82);
  height: 80px; width: 45px; padding: 5px; text-align: center; color: #fff; margin: 0}
#home-page-blog-news .content-image .content-image-overlay dl hr{margin: 8px 0;}
#home-page-blog-news .content-image .content-image-overlay dt{padding: 3px; font-weight: 300; font-size: 1.1em}


#about-preview{min-height: 600px;}
#about-preview .thumbnail_container{height: 320px}
.google-banner-skyscraper{width: 120px; height: 600px; padding-top: 20px; float: right}
.start-video{height: 85px; width: 85px; background-position: -468px -47px}
.start-video {position: absolute;top: 40%;padding: 12px;left: 40%;opacity: .3;
  cursor: pointer;transition: all 0.3s;}
.start-video:hover{opacity: 1;-webkit-filter: brightness (1);}
div.thumbnail_container{overflow: hidden;}
img.thumbnail{opacity: 0.8;}
#video-thumbnail{border: none; border-radius: 0;padding: 0}

#three-steps-section{padding: 30px 0 0;}
#three-steps-section .ci{height: 110px; width: 110px;}
.circle-cover{width: 140px;background: #fff;}
.circle-gb{width: 110px;height: 110px; border-radius: 50%; background: #f4ba2f; position: relative; margin: 0 auto}
.ci.ci-map{background-position: -7px -103px}
.ci.ci-search{background-position: -146px -97px}
.ci.ci-announce{background-position: -271px -90px}
#three-steps-section h4{font-weight: 300; padding: 0; margin-top: 0;  line-height: 1.2em;}
#three-message-contacter{height: 5px; padding: 0; margin: 0 auto; background-color: #f4ba2f;
  position: relative;top: 62px;width: 75%;}


/*Category Page*/
#page-header-section{background: url(../img/general/page-header.jpg) 50% 0 no-repeat fixed; min-height: 365px; position: relative}
#page-header-page-cover{position: absolute; background: rgba(0,0,0,0.2); width: 100%; height: 100%; position: absolute; top: 0; left: 0
-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;
  border: none;color: black;-o-text-overflow: ellipsis;
  text-overflow: ellipsis;background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);background: linear-gradient(0deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;-webkit-background-origin: padding-box;background-origin: padding-box;
  -webkit-background-clip: border-box;background-clip: border-box;-webkit-background-size: cover;background-size: cover;
}
#page-header-container{width: 100%; bottom: 13%;position: absolute; z-index: 1}
.listed-property-details-line{background-color: #1c1c1c;}
.listed-property-details-line h3{color: #fff; line-spacing: 0.1em;margin: 10px 0}
.btn-view-details{text-transform: uppercase; padding: 10px 30px;}
.properties-review-details{border: 1px solid #d1d1d1; margin-bottom: 20px}
.properties-review-details .thumbnail{margin: 0; padding: 0; border-radius: 0; border:none;}
.properties-review-details .overflow-image-block{height: 275px}
.right-thumbnail .overflow-image-block{height: 135px}
.properties-review-details div[class*="col-xs"]{padding-right: 0}
.properties-review-details .overflow-image-block img{width: auto;height: 275px;}
.right-thumbnail{padding-left: 10px}
.right-thumbnail .overflow-image-block img{height: 160px}
.right-thumbnail .thumbnail{height: 115px;}
.right-thumbnail .thumbnail:first-child{margin-bottom: 25px}

.properties-review-details ul{padding-left: 0}
.properties-review-details li{list-style: none; padding: 6px 0; border-top: 1px solid #ebebeb}
.properties-review-details li span{color: #deaa2c}
.properties-review-details .btn-view-details{position: absolute;right: 30px;bottom: 4px;padding: 5px 30px;}
.properties-review-details > .row . col-sm-7{padding-right: 0}
.properties-review-details > .row . col-sm-5{padding-left: 0}

#property-list-section .google-long-middle-banner{margin-bottom: 20px}

#map-block-visible-section #map-block{display: block}

#send-testimonial-section {background: #020202; padding-bottom: 30px; margin-top: 20px}
#send-testimonial-section h2 {margin-top: 20px; color: #f2f2f2}
#send-testimonial-section .error-summary{color: #a94442}
#send-testimonial-section .help-block{position: absolute}

/*AGENCY DETAILS PAGE*/
#agency-details-section{margin-bottom: 30px}
#agency-details-section .page-header{border: none;margin: 20px 0 10px}
#agency-details-section .content-title{font-size: 2.5em; font-weight: 700; padding: 4px 0 0; margin-bottom: 30px;  line-height: 1.1em; margin-top: 10px}
#agency-details-section .content-title h1{ padding: 0px 0 11px; margin-top: 10px }

#agency-details-section .overflow-image-block{height: 70px; width: 80px; float: left; Margin-right: 10px;}
#agency-details-section .agents-list-details,
#agency-details-section .agency-information-block{border: 1px solid #ebebeb;margin-bottom: 30px}
#agency-details-section .agents-short-info{padding: 5px; height: 170px}
.agents-short-info h5{margin: 5px}
.agents-short-info em{border-bottom: 1px solid #ebebeb; padding-bottom: 5px; margin-bottom: 5px}
.agents-short-info p{font-size: 0.9em; padding: 10px 0 0}

#agency-map{height: 80px}

.side-information-title, #property-in-tabs .nav-tabs li.active a{height: 2em; -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;box-sizing: content-box;border: none; color: rgba(255,255,255,1);
  background: -webkit-linear-gradient(-90deg, rgba(222,222,222,1) 0, rgba(170,170,170,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(222,222,222,1) 0, rgba(170,170,170,1) 100%);
  background: linear-gradient(180deg, rgba(222,222,222,1) 0, rgba(170,170,170,1) 100%);
  background-position: 50% 50%;-webkit-background-origin: padding-box;background-origin: padding-box;
  -webkit-background-clip: border-box;background-clip: border-box;-webkit-background-size: auto auto;
  background-size: auto auto;}

.side-information-title h5{margin: 0; padding-top: 5px}
.side-information-content ul{list-style: none; padding: 10px}
.side-information-content ul li{border-bottom: 1px solid #ebebeb; padding: 5px}
.side-information-content ul li:last-child{border: none; padding-bottom: 0px; padding-top: 22px;}
.side-information-content ul li a{color: #deaa2c}
.side-information-content .btn-view-details{margin-bottom: 15px}


/*Single Blog Page*/
.block-navigation{position: static; background-color: #1c1c1c}
#single-blog-section h5{margin-bottom: 30px}
#single-blog-section .overflow-image-block{height: 315px; margin-right: 12px}
#single-blog-section .page-header{border: none; margin-bottom: 0}
.blog-content-text{padding: 0 15px}
ul.blog-seller-details{list-style: none; padding: 0}
ul.blog-seller-details li{padding: 10px 0}
.blog-quote{padding: 20px; background-color: #1c1c1c; color: #fff; font-size: 1.5em; line-height: 1.1em}
.blog-quote p:before{content: '"'; padding-right: 40px; font-size: 2.2em; position: relative; top: 10px;}
.blog-quote p:after{content: '"'; padding-left: 40px; font-size: 2.2em; line-height: 0.8em;position: relative; top: 10px;}
p.source-file{margin: 20px 0 10px;}
p.source-file a{color: #3797da}

aside{margin-top: 30px;}
.blog-widget-header{background-color: #1c1c1c;  padding: 5px;}
.blog-widget-header a{color: #fff; line-height: 1.2em;}
.blog-widget-header a:hover{color: #dddddd}
#single-blog-section .blog-widget-block .overflow-image-block{margin-right: 0; height: 185px;  margin-bottom: 20px;}

/*Our Blog Page*/
.blog-page-review-block{height: 350px; overflow: hidden}
.blog-page-review-block .image-overlay > div{display: block; padding: 10px 0}
.blog-page-review-block .thumbnail{padding: 0; border: none; border-radius: 0}
.blog-page-review-block .blog-image-title a, .blog-page-review-block .blog-image-title{color: #fff}
.blog-image-overlay{height: 220px;}
.blog-page-review-block .overflow-image-block{height: 220px}
.blog-page-review-block .blog-image-title{height: 60px;background-color: rgba(0,0,0,0.7);z-index: 200;
  position: absolute;bottom: 0;width: 100%; padding-top: 10px;}
.blog-page-review-block .blog-image-title h5{font-size: 1.2em;font-weight: 300;}
.blog-page-review-block .image-overlay > div > *{width: auto; padding: 5px 15px}
.blog-image-overlay h5{  margin-top: 35px;font-size: 1.2em;font-weight: 300;}


/*About Us Page*/
.testimonial-logo-block{display: table;min-height: 200px; padding-right: 30px}
.testimonial-logo{display: table-cell; vertical-align: middle}
.testimonial-text-block{border-left: 1px solid #ebebeb; min-height: 200px; padding-left: 30px}
.testimonial-text-block > p:first-child:before{content: '"'; font-size: 3em;line-height: 0.2em;
  color: #f4ba2f; padding-right: 20px}
#three-contacts{margin-bottom: -40px}
#three-contacts p, #three-contacts h5{color: #343434}
.three-contacts-content h5{font-weight: 700;font-size: 1.2em;}
.three-contacts{margin: 30px 0 0;}.three-contacts-content .ci{height: 45px; width: 45px; margin-top: 15px;}
.three-contacts-block{height: 9em;}
.three-contacts-block > .three-contacts-content{padding: 20px 0;}
.three-contacts-map{background: #fbfbfb}.ci-map-location{background-position: -247px -219px;}
.three-contacts-call{background: #f1f1f1;} .ci-call-us{background-position: -353px -219px;}
.three-contacts-email{background: #e3e3e3;} .ci-envelope{background-position: -456px -225px}

.property-details-head-section{}

/*Property Details Page*/
#property-details-head-section{background: url(../img/general/footer.jpg) 50% 0 no-repeat fixed; min-height: 365px; position: relative}
#property-details-head-cover{position: absolute; background: rgba(0,0,0,0.2); width: 100%; height: 100%; position: absolute; top: 0; left: 0
-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;
  border: none;color: black;-o-text-overflow: ellipsis;
  text-overflow: ellipsis;background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);background: linear-gradient(0deg, rgba(0,0,0,0.2) 0, rgba(0,0,0,1) 100%);
  background-position: 50% 50%;-webkit-background-origin: padding-box;background-origin: padding-box;
  -webkit-background-clip: border-box;background-clip: border-box;-webkit-background-size: cover;background-size: cover;
}
#property-details-head-container{width: 100%; bottom: 13%;position: absolute; z-index: 1}
#property-in-tabs .nav-tabs{}
#property-in-tabs .nav-tabs li{text-transform: uppercase; height: 40px; margin: 0 3px 0 0;}
#property-in-tabs .nav-tabs li a{background: #f0f0f0;color: #7c7c7c; letter-spacing: .3em;}
#property-in-tabs .nav-tabs li.active a{color: #fff; height: 20px;}
#property-in-tabs .nav-tabs li a{font-weight: 700; cursor: pointer}
#property-in-tabs {}

ul.property-description-details{list-style: none; padding-left: 0}
ul.property-description-details li:before{content: "\2013"; padding-right: 3px}
.pgwSlideshow{background-color: transparent}
.pgwSlideshow .ps-caption{display: none}
.pgwSlideshow ul{padding: 0; margin: 0}
.pgwSlideshow .ps-list{border: none; background-color: transparent; box-shadow: none}
.pgwSlideshow .ps-list li .ps-item{margin: 8px 5px;}
.pgwSlideshow .ps-list li .ps-item.ps-selected{border: none}
.pgwSlideshow .ps-list li img{border: none; height: 120px; width: 160px}
.pgwSlideshow .ps-list li .ps-item.ps-selected img{margin: 0;}
.pgwSlideshow .ps-list li .ps-item{rbga(255,255,255,0.3)}
.pgwSlideshow .ps-list .ps-next, .pgwSlideshow .ps-list .ps-prev{top: 40px;}
.pgwSlideshow .ps-current>ul>li img{margin: 0; width: 100%}
#propety-in-map, #propety-street-view{height: 450px}

.side-bar-block{border: 1px solid #ebebeb;margin-bottom: 30px; margin-top: 10px}
.side-bar-block .side-information-title{height: 40px; text-transform: uppercase}
.side-bar-block h5{padding-left: 5px; padding-top: 13px;}
.side-bar-block .overflow-image-block{height: 40px}
.side-bar-block .overflow-image-block img{width: 50%}
.side-bar-agency-name{background-color: #f8f8f8;}
.side-bar-agency-name .side-information-content li strong{font-size: 1.2em; padding: 3px 0;}
.call-to-agent{padding: 3px 12px;}
.side-information-content ul li.call-to-agent a{color: #0bc413; text-transform: uppercase; font-weight: 700;
  margin-top: 5px;padding: 3px 12px;}
.side-information-content ul li.call-to-agent a .fa{font-size: 1.1em;}
.side-information-content ul li.call-to-agent > strong{margin-bottom: 10px}
.side-bar-agency-name div.side-information-title > h5{float: left;}
.side-bar-agency-name div.side-information-title > div{height: 40px; line-height: 40px;
  padding: 0; font-weight: 700; position: absolute;right: 15px; width: 80px}

/*Why We Page*/
.ci-quote-orange{background-position: -530px -170px; height: 20px; width: 20px}
#why-we-body-section span{margin-bottom: 5px}
#why-we-body-section h5{font-weight: 700; font-size: 1.2em; margin-top: 20px}
#why-we-body-section .container > div.row {border-bottom: 1px solid #d1d1d1; padding: 15px 0;}
#why-we-body-section .container > div.row:last-child{border: none;}
.trusted-logos{list-style: none; overflow: hidden; }
.trusted-logo-block{text-align: center;}
.trusted-logo-block img{width: 90%; vertical-align: middle}
.logo-frame{position: relative;min-height: 70px}
/*.logo-frame .groovy-overlay{height: 100%; width: 100%;position: absolute;}*/
.logo-frame img{position: absolute;top: 0; bottom: 0; margin: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.logo-frame img:hover{filter: none;-webkit-filter: grayscale(0); cursor: pointer}

/*** Footer ***/
#footer{;min-height: 400px; background: #080808 url("../img/general/footer.jpg"); margin-top: 40px; color: #fff; font-weight: 300; letter-spacing: 0.1em; padding-bottom: 40px}
#footer #footer-header {color: #fff}
#footer #footer-header > h3{font-size: 2.3em; font-weight: 300}
#footer hr{height: 2px; background-color: #f4ba2f; width: 100%; padding: 0; margin: 0}
#footer ul{list-style: none; padding: 0}
#footer-content{margin-top: 30px;text-align: center;}
#footer-content div[class*="col-sm"]{min-height: 235px; padding: 0 40px}
#footer-content div[class*="col-sm"]:nth-child(2){border-right: 1px solid #888;border-left: 1px solid #888;}
#footer-content div[class*="col-sm"]:first-child{padding-left: 15px}
#footer-content .form-control{margin-bottom: 10px;border-radius: 0;height: 42px;}
#footer-content .btn{text-transform: uppercase;}
#footer-content h5{font-size: 1.3em; font-weight: 400; letter-spacing: 0.1em; margin-bottom: 40px}
#footer #address-in-footer{font-weight: 300}
#footer a{color: #b5985a; font-weight: 300; font-size: 1.1em; letter-spacing: 0.1em}
#address-in-footer ul li{border-bottom: 1px solid; padding: 15px 0}
#address-in-footer ul li:first-child{padding-top: 0}
#address-in-footer ul li:last-child{border: none}
#footer .form-group{margin-bottom: 40px}
#footer border .timeline{
  border-radius: 0 !important;
  background-color: transparent;
}
#footer #address-in-footer{text-align: left}
#footer .help-block{margin: 0; padding: 0}


#message-agency .select2-search,
#subscription-pop-up .select2-search{width: 100%; padding: 5px;}
#message-agency .select2-search__field,
#subscription-pop-up  .select2-search__field{height: auto; min-width: 100%;}
#message-agency .select2-container .select2-selection--multiple,
#subscription-pop-up .select2-container .select2-selection--multiple {height: auto; border: 1px solid #ddd}

#subscription-pop-up .modal-content{padding: 25px;background-color: rgba(7,82,133,0.9);color: #fff}
#subscription-pop-up #contact-box{padding: 17px 95px;}
#subscription-pop-up button.close{color: #fff}

#subscription-content .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field{ height: 40px}


@media (min-width: 1300px) {
  .properties-review-details .default-image img{height: 300px}
}

@media (max-width: 1300px) and (min-width: 1400px) {
  .properties-review-details .default-image img{height: 330px}
}


@media all and (max-width: 1180px) {
  .default-image > .overflow-image{left: -9965px;}
  .properties-review-details .overflow-image-block.default-image img{height: 285px}
  #logo-slider li img{width: 120px; height: 125px;}
  #agencies-logos{height: 370px;}
  #slideshow img{ height: 260px; width: 260px}
}

@media all and (max-width: 1100px) {
  .default-image > .overflow-image{left: -9950px;}
  .main-logo{width: 80%}.container{width: 98%}
  #header-banner-block{width: 90%; position: relative;margin: 0 auto}
  #header-navigation-block .nav>li>a{padding: 8px; font-size: 0.9em}
  .map-open-button-box-block > p > span.map-text{padding-right: 0;font-size: 1.2em;}
}

@media all and (max-width: 960px) {
  .map-open-button-box-block > p > span.map-text{  padding: 0 0px 5px;}
  .default-image > .overflow-image{left: -9920px;}
  #x-logos > div{height: 275px}
  .header-checkbox-block{width: 80%}
  .owl-nav .owl-next{right: -25px}
  .owl-nav .owl-prev{left: -25px}
}

@media all and (max-width: 630px) {
  .introduction-header{font-size: 28px; margin-bottom: 20px}
}

@media (min-width: 767px) and (max-width: 880px) {
  .map-text{font-size: 1.1em}
  .map-open-button-box-block > p > .ci-arrow-down.closed{background-position: -55px -49px;}
  #slideshow img{ height: 240px; width: 240px}
  #slideshow{margin-right: 10px}
  #logo-slider li img{width: 100px;height: 110px;}
  #logo-slider li:nth-child(1), #logo-slider li:nth-child(2){padding-bottom: 20px}
}

@media all and (max-width: 586px) {
  #slideshow{float: none !important; margin-bottom: 15px;text-align: center;}
  #slideshow img{height: 330px; width: 330px}
  #logo-slider{padding: 0}
  #logo-slider li img{width: 80px; height: 80px;}
  #logo-slider li{width: 24%; display: inline-block; float: none}
  #slideshow img{height: auto; width: 100%;}
}
@media all and (max-width: 767px) {
  #page-header-container{bottom: 0}
  #home-page-blog-news div[class*="col-sm"] img{height: auto}
  #home-page-blog-section .content-description{padding-top: 20px}
  #map-section, #map-block-section{display: none}
  #header-banner-block{top: 20px;}
  #home-page-header-container{bottom: 10%}
  #featured-properties h2.page-header{margin-top: 15px;}
  #three-steps-section .col-sm-3{display: none}
  .home-page-blog-news-block{height: auto;}
  #three-message-contacter{display: none}
  #three-steps-section .circle-cover{float: left;}
  #three-steps-section h4{padding: 50px 0 0;height: 110px;text-align: left;}
  #three-steps-section .row{text-align: center;}
  #footer-content div[class*="col-sm"]{padding: 0 40px 0 15px; border-right: none}
  .main-logo-block{text-align: center}
  .main-logo{  width: auto;height: 75px; padding: 0 0 10px 0;}
  .navbar-nav{margin: 0; background-color: #343434; font-size: 1.2em;padding: 20px 10px;}
  #header-navigation-block{position: relative;top: -155px;border-top: none}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{color: #fff;}
  .navbar-default .navbar-toggle{border-color: #fff}
  .navbar-default .navbar-toggle .icon-bar{background-color: #fff}
  .introduction-header{margin-bottom: 35px; font-size: 40px;}
  #home, #about-preview{min-height: 530px;}
  #about-preview .content-description{padding-top: 20px}
  #agencies-logos{height: auto}
  #agencies-logos .thumbnail{margin-bottom: 20px}
  #x-logos{position: relative;margin: 0 auto;width: 50%;}
  .google-banner-skyscraper{display: none}
  .regions-list-block > li{padding-top: 20px}
  div[class*="col-xs"].right-thumbnail{padding-right: 15px}
  .banner{width: 100%}
  .properties-review-details li{padding-left: 15px}
  .three-contacts-block{margin-top: 0}
  .listed-property-details-line h3{margin: 0}
  #footer-content div[class*="col-sm"]:nth-child(2){border-bottom: 2px solid #f4ba2f; border-top: 2px solid #f4ba2f; border-left: none; border-right: none}
  #footer-content div[class*="col-sm"]{ padding: 20px 0}
  #footer-content div[class*="col-sm"]:last-child{border-bottom: none;}
  #footer #subscription{padding: 0 10px}
}

@media all and (max-width: 698px) {}

@media all and (max-width: 480px) {
  .properties-review-details .overflow-image-block{height: 180px}
  .properties-review-details .overflow-image-block img{height: 180px}
  .right-thumbnail .thumbnail{height: 70px}
  .properties-review-details .overflow-image-block.default-image img{height: 195px;}
  .default-image > .overflow-image{left: -9988px;}

  .properties-review-details .overflow-image-block img{height: 85px}
  .properties-review-details .col-xs-7{width: 64.5%}
  .properties-review-details .col-xs-5{width: 35.5%}

  .header{min-height: 50px}.header-checkbox-block{padding-top: 10px}
  #property-details-head-container{bottom: 5%}
  .main-logo{height: 65px;}
  #property-in-tabs .nav-tabs li{font-size: 0.6em;}
  #header-search-box-container .search-property{z-index: 10;}
  #header-search-box-container form{z-index: 1; position: relative}
  #header-search-box-container .search-button{z-index: 1}
  .slogan{font-size: 0.8em;}
  .introduction-header{font-size: 30px;}
  .header-banner-container{margin-top: -65px;}
  #header-navigation-block{top: 0;}
  .banner{display: none}
  .introduction-header{margin-bottom: 25px;}
  #x-logos > div{height: 185px;}
  #header-search-box-container div[class*="col-xs"]{width: 100%; clear: both;margin-bottom: 5px}
  #header-search-box-container .form-group{margin-bottom: 0}
  #header-search-box-container .select-type .btn, #header-search-box-container .form-group .bootstrap-select,
  #header-search-box-container .select-type .btn:focus{border-radius: 0;}
  #header-search-box-container .bootstrap-select.btn-group .dropdown-toggle .caret{right: 0;}
  #header-search-box-container .search-button button{margin-left: 0;margin-right: 0; border-radius: 0}
  #subscription-pop-up .modal-content{padding: 10px}
  #subscription-pop-up #contact-box{padding: 20px;}
}

@media all and (max-width: 320px) {
  .slogan{margin-bottom: 5px}
  .default-image > .overflow-image{left: -10015px;}
  .properties-review-details .col-xs-7{width: 100%}
  .right-thumbnail{display: none}
  #logo-slider li img {width: 60px; height: 60px; }
  #x-logos > div{height: 150px;}
  #header-banner-block{display: none}
}