body > .header .logo {
  font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  background: none;
  color: inherit;
}
body .user-panel > .info {
  padding-left: 10px;
}
body .table {
  word-break: break-all;
}

/*Color Picker*/
.container,.well .markup{background:#fff}h4~p{padding-left:20px}.inl-bl{display:inline-block}.well .markup{color:#777;position:relative;padding:45px 15px 15px;margin:15px 0 0;border-radius:0 0 4px 4px;box-shadow:none}.well .markup::after{content:"Example";position:absolute;top:15px;left:15px;font-size:12px;font-weight:700;color:#bbb;text-transform:uppercase;letter-spacing:1px}
.error-summary{color: #CC0000}
.help-block{position: absolute;margin-top: 0}
.radio label, .checkbox label, .radio-inline, .checkbox-inline{font-size: 1.3em}
input[type="radio"], input[type="checkbox"]{margin-top: 8px;}
.table thead th{min-width: 70px}
div[class*="-view"] .table tr:first-child th:first-child{min-width: 90px}

#menu-strcuture-block{background-color: #d0eded; overflow: scroll; max-height: 350px}
#menu-strcuture-block ul{padding-left: 0; list-style: none}
#menu-strcuture-block li:before{content: "\21B3"; padding-right: 5px; font-size: 0.8em}

#agents_list{height: 120px; overflow: scroll; padding: 10px 20px 0; border:  1px solid #003147}
#price-in-number, #eoi-description{display: none}
/*# sourceMappingURL=style.map */